{{page-title "My Orders"}}

<div class="container mx-auto md:w-1/2">
  <h2 class="text-center text-gray-700 text-2xl font-semibold mb-4">Order Details</h2>
  {{#each this.model as |order|}}
    <div class="bg-gray-100 p-6 rounded-lg mb-4">
      <div class="grid grid-cols-2 gap-4">
        <div class="p-2 border border-gray-200 shadow-sm rounded">
          <p><span class="font-semibold">Discount:</span></p>
          <p>${{order.discount}}</p>
        </div>
        <div class="p-2 border border-gray-200 shadow-sm rounded">
          <p><span class="font-semibold">Bought At:</span></p>
          <p>{{order.bought_at}}</p>
        </div>
        <div class="p-2 border border-gray-200 shadow-sm rounded">
          <p><span class="font-semibold">Order ID:</span></p>
          <p>{{order.id}}</p>
        </div>
        <div class="p-2 border border-gray-200 shadow-sm rounded">
          <p><span class="font-semibold">Customer ID:</span></p>
          <p>{{order.customerId}}</p>
        </div>
      </div>
      <h3 class="text-center text-gray-700 text-xl font-semibold mb-4">Order Items</h3>
      {{#each order.item_list as |item|}}
        <div class="p-2 border border-gray-200 shadow-sm rounded mb-2 grid md:grid-cols-3 gap-4">
          <div class="col-span-3">
            <p><span class="font-semibold">{{item.menuItem.name}}</span></p>
          </div>
          <div class="col-span-1">
            <img src={{item.menuItem.imageUrl}} alt={{item.menuItem.name}} class="h-32 w-48 mx-auto mb-2 rounded-lg">
          </div>
          <div class="col-span-2">
            <p><span class="font-semibold">Price: $</span> {{item.price_at_order}}</p>
            <p><span class="font-semibold">Quantity:</span> {{item.quantity}}</p>
          </div>
          {{!-- Add more fields as needed --}}
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>