{{page-title "Profile"}}

<div class="container mx-auto md:w-1/2">
  <div class="p-6 rounded-lg">
    <h2 class="text-center text-gray-700 text-2xl font-semibold mb-4">User Profile</h2>
    <div class="grid md:grid-cols-2 gap-4">
      <div class="p-2 border border-gray-200 shadow-sm rounded">
        <p><span class="font-semibold">Username:</span></p>
        <p>{{this.model.username}}</p>
      </div>
      <div class="p-2 border border-gray-200 shadow-sm rounded">
        <p><span class="font-semibold">Email:</span></p>
        {{input type="text" value=this.model.email class="input-field border border-gray-200"}}
      </div>
      <div class="p-2 border border-gray-200 shadow-sm rounded">
        <p><span class="font-semibold">Phone:</span></p>
        {{input type="text" value=this.model.phone class="input-field border border-gray-200"}}
      </div>
      <div class="p-2 border border-gray-200 shadow-sm rounded">
        <p><span class="font-semibold">Address:</span></p>
        {{input type="text" value=this.model.address class="input-field border border-gray-200"}}
      </div>
      <div class="p-2 border border-gray-200 shadow-sm rounded">
        <p><span class="font-semibold">Principal Type:</span></p>
        <p>{{this.model.principalType}}</p>
      </div>
      <div class="p-2 border border-gray-200 shadow-sm rounded">
        <p><span class="font-semibold">New Password:</span></p>
        {{input type="password" value=this.model.password class="input-field border border-gray-200"}}
      </div>
    </div>
    <div class="text-center mt-4">
      <button class="border border-gray-200 bg-blue-500 text-white rounded px-4 py-2" type="button" {{on "click" this.saveProfile}}>Save</button>
    </div>
  </div>
</div>